
APP_NAME="Speed.mn"
APP_ENV=production
APP_DEBUG=false
APP_URL=http://203.34.37.57
SKINS_LANGUAGE=skins_en
SKINS_BRIDGE_SECRET=replace-with-a-random-64-character-secret
SKINS_DB_HOST=127.0.0.1
SKINS_DB_PORT=3306
SKINS_DB_DATABASE=skins
SKINS_DB_USERNAME=skins_user
SKINS_DB_PASSWORD=replace-with-database-password


APP_LOCALE=en
APP_FALLBACK_LOCALE=en

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=speed_db
DB_USERNAME=speed_user
DB_PASSWORD=SpeedPass123!!
RANK_PUBLIC_1_DB_HOST= 203.34.37.57
RANK_PUBLIC_1_DB_PORT=3306
RANK_PUBLIC_1_DB_DATABASE=cs_stats_db
RANK_PUBLIC_1_DB_USERNAME=speed_user 
RANK_PUBLIC_1_DB_PASSWORD=SpeedPass123!!

RANK_PUBLIC_2_DB_HOST=203.34.37.57
RANK_PUBLIC_2_DB_PORT=3306
RANK_PUBLIC_2_DB_DATABASE=cs_stats_p2
RANK_PUBLIC_2_DB_USERNAME=admin_user
RANK_PUBLIC_2_DB_PASSWORD=AdminPass123!!

RANK_KNIFE_1_DB_HOST=203.34.37.57
RANK_KNIFE_1_DB_PORT=3306
RANK_KNIFE_1_DB_DATABASE=cs_stats_db
RANK_KNIFE_1_DB_USERNAME=speed_user 
RANK_KNIFE_1_DB_PASSWORD=SpeedPass123!!

RANK_KNIFE_2_DB_HOST=203.34.37.57
RANK_KNIFE_2_DB_PORT=3306
RANK_KNIFE_2_DB_DATABASE=cs_stats_p2
RANK_KNIFE_2_DB_USERNAME=admin_user
RANK_KNIFE_2_DB_PASSWORD=AdminPass123!!

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_DOMAIN=
SESSION_SECURE_COOKIE=false
SESSION_SAME_SITE=lax
SESSION_HTTP_ONLY=true
SESSION_DRIVER=database
SESSION_DOMAIN=
SESSION_SECURE_COOKIE=false
SESSION_SAME_SITE=lax

QUEUE_CONNECTION=database
CACHE_STORE=file

STEAM_API_KEY=replace-with-steam-api-key
STEAM_DOMAIN=http://localhost

DISCORD_INVITE_URL=https://discord.gg/PRPWVWnFT
APP_KEY=base64:g+LFMLIUcjDs3mzMzXI98xV4C4/Jp6ny5NOfI5AE2rE=

